.Carousel {
    height: 65rem;
    background-image: linear-gradient(to top right, #ff4858, #8f65ff);
    display: flex;
}

.caro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}