.CarouselText {
  color: #fff;
  text-align: left;
  width: 20%;
  height: 25%;
  // border: 1px solid #fff;
  line-height: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  // margin-bottom: 2.5rem;
}
p.underline {
  padding-bottom: 2px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  align-self: flex-start;
}
