.Products {
    max-width: 117rem;
    height: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    
}

.more {
    text-transform: uppercase;
    font-weight: 700;
    color: #33a0ff;
    padding-bottom: .5rem;
    border-bottom: 3px solid #33a0ff;
    margin-top: 2rem;
    display: inline-block;
    margin-bottom: 4rem;
}