.LatestNews {
    margin-bottom: 3rem;

    h2 {
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    .latest {
        width: 116.3rem;
        display: flex;
        padding: 2rem;
        justify-content: space-between;

    }
}